@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Samarkan';
  src: url('/fonts/Samarkan-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Progress';
  src: url('/fonts/PROGRESS.ttf') format('truetype');
}

.SanskritiFont {
  font-family: 'Samarkan';
}
.ProgressFont {
  font-family: 'Progress';
}